<div class="row">
    <div class="col-6">
        <h1>Burgers to Devour</h1>
        {{#each burgers }}
        <h3>{{id}}. {{burger}} <button class="devour" data-id="{{id}}" data-devour="{{devour}}">Eat?</button></h3>
        <hr>
        {{/each}}
    </div>
    <div class="col-6">
        <h1>Devoured Burgers</h1>
        {{#each devouredBurgers }}
        <h3>{{id}}. {{burger}}</h3>
        <hr>
        {{/each}}
    </div>
</div>